body{
    background: black;
    text-align: center;
    margin: 64px 0 0 0;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

canvas{
    border: solid 4px white;
    border-radius: 1%;
    background: linear-gradient(
        0deg,
        rgba(45, 90, 156) 0%,
        rgb(0, 27, 68) 100%
    );
}

.button span {
	margin-right:10px;
}

.contenedor-footer{
    width: 45%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.titulo-final {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0px;
    color: rgb(24, 24, 24);
    font-size: 26px;
}

